<body
  style="box-sizing: border-box; margin: 0; font-family: 'Helvetica Neue', Arial, sans-serif; background-color: rgb(248, 248, 248);">
  <meta charset="utf-8">
  <title>Set Your Password
  </title>
  <div class="container"
    style="box-sizing: border-box; max-width: 600px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;">
    <h1 style="box-sizing: border-box; font-size: 28px; font-weight: bold; color: rgb(68, 68, 68); margin-top: 0px;">
      Welcome to OPTISAM
    </h1>
    <p style="box-sizing: border-box; font-size: 16px; color: rgb(102, 102, 102); line-height: 1.5;">Hello {{.FirstName}},
    </p>
    <p style="box-sizing: border-box; font-size: 16px; color: rgb(102, 102, 102); line-height: 1.5;">Thank you for
      signing up for OPTISAM. To activate your account and start using our platform, please click on
      the link below:
    </p>
    <a href="{{.RedirectUrl}}"
      style="box-sizing: border-box; display: inline-block; margin-top: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; background-color: rgb(0, 138, 252); color: rgb(255, 255, 255); font-size: 16px; text-decoration-line: none; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; transition-duration: 0.2s; transition-timing-function: ease-in-out; transition-delay: 0s; transition-property: background-color;">Activate</a>
    <p style="box-sizing: border-box; font-size: 16px; color: rgb(102, 102, 102); line-height: 1.5;"> Please note that
      this link will expire within 30 days, so be sure to activate your account promptly.
    </p>
    <p style="box-sizing: border-box; font-size: 16px; color: rgb(102, 102, 102); line-height: 1.5;">Thanks,
    </p>
    <p style="box-sizing: border-box; font-size: 16px; color: rgb(102, 102, 102); line-height: 1.5;">The OPTISAM Team
    </p>
    <hr style="box-sizing: border-box;">
    <h1 style="box-sizing: border-box; font-size: 28px; font-weight: bold; color: rgb(68, 68, 68); margin-top: 0px;">
      Bienvenue sur OPTISAM
    </h1>
    <p style="box-sizing: border-box; font-size: 16px; color: rgb(102, 102, 102); line-height: 1.5;">Bonjour {{.FirstName}},
    </p>
    <p style="box-sizing: border-box; font-size: 16px; color: rgb(102, 102, 102); line-height: 1.5;">Merci de vous être
      inscrit sur OPTISAM. Pour activer votre compte et commencer à utiliser notre plateforme, veuillez
      cliquer sur le lien ci-dessous :
    </p>
    <a href="{{.RedirectUrl}}"
      style="box-sizing: border-box; display: inline-block; margin-top: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; background-color: rgb(0, 138, 252); color: rgb(255, 255, 255); font-size: 16px; text-decoration-line: none; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; transition-duration: 0.2s; transition-timing-function: ease-in-out; transition-delay: 0s; transition-property: background-color;">Activer</a>
    <p style="box-sizing: border-box; font-size: 16px; color: rgb(102, 102, 102); line-height: 1.5;"> Veuillez noter que
      ce lien expirera dans les 30 jours, veuillez donc activer votre compte rapidement.
    </p>
    <p style="box-sizing: border-box; font-size: 16px; color: rgb(102, 102, 102); line-height: 1.5;">Merci,
    </p>
    <p style="box-sizing: border-box; font-size: 16px; color: rgb(102, 102, 102); line-height: 1.5;">L'équipe OPTISAM
    </p>
  </div>
</body>
<style>
  a:hover {
    background-color: rgb(44, 62, 80);
  }
</style>