# Binaries for programs and plugins
**/server
!**/server/
*.exe
*.exe~
*.dll
*.so
*.dylib
gomock_*
badger
mapping_badger
study
test

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
*.testCoverage

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Test Data files
**/*.zip

# Docker files
Dockerfile
Dockerfile*
docker-compose.yml

# Deployment files
**/.gitlab-ci.yml
**/.golangci.yml
**/*-service.yml
**/sonar-project.properties

# Configuraiton files
**/config-*.toml
!**/config-local.toml
karate-config.js

# sql DB scripts
1_optisam_db.sql

# nifi-service
nifi-service/**/*
